@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('./base.css');
@import url('./sidebar.css');
@import url('./tree.css');
@import url('./toolbar.css');
@import url('./grid.css');
@import url('./tags.css');
@import url('./lightbox.css');
@import url('./duplicates.css');
